<% unless comment.archived? %>

<div class="col-6 mt-2 mb-4">
  <div class="card">
    <div class="card-header">
      Comment 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= comment.body %></p>
        <footer class="blockquote-footer">user: <%= comment.commenter %></cite></footer>
      </blockquote>

      <%= link_to "Delete Comment", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "badge badge-danger mt-4" %>
    </div>
  </div>
</div>

<% end %>

