<% if object.errors.any? %>

  <div class="alert alert-danger">
    <h4 class="alert-heading">Something goes wrong!</h4>
    <p>The form contains <%= pluralize(object.errors.count, "error") %></p>
    <hr>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>